art==5.5
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
numpy==1.22.2
pandas==1.4.1
prompt-toolkit==3.0.28
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
six==1.16.0
tabulate==0.8.9
urllib3==1.26.8
wcwidth==0.2.5
